$font-color: #232323;
$link-color: #1d5192;
$hover-link-color: #6095D7;
$background-color: #ececec;

$sans-serif-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif-font: Georgia, Times, 'Times New Roman', serif;

$tablet: 'min-width: 769px';
$desktop: 'min-width: 1025px';

@mixin centerer {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

html, body {
	overflow: auto;
	text-align: center;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: $sans-serif-font;
	background-color: #018695;
	color: white;
}

a {
	text-decoration: none;
	color: white;
}

nav {
	width: 100%;
	ul {
		height: 2em;
		margin: 0;
		padding: 0;
	}
	li {
		list-style-type: none;
		display: inline-block;
		box-sizing: border-box;		
		text-align: center;
		margin-right: 1em;
		line-height: 2;
	}
}

header {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 400px;
	height: auto;
	text-align: center;
	background: url("../img/FlappyBackground-M.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	color: black;

	h1 {
		padding-top: 50px;
		font-size: 2em;
		box-sizing: border-box;
		margin: 0;
	}
	.secondline {
		padding: 0;
		margin-bottom: 50px;
	}
	.play {
		@include centerer;
		width: 100px;
		height: 50px;
		border-radius: 8px;
		border: 1px solid black;
		background-color: #018695;
		color: white;
	}
	@media screen and (min-width: 1024px) {
		height: 800px;
		background: url("../img/FlappyBackground-1920px.png");
		h1 {
			font-size: 5em;
		}
		.play {
			@include centerer;
			width: 200px;
			height: 100px;
			border-radius: 10px;
			border: 3px solid black;
			font-size: 2em;
		}
		.firstline {
			padding-top: 2em;
		}
	}
	@media screen and ($tablet) and (max-width: 1024px) {
		background: url("../img/FlappyBackground-1024px.png");
		height: 600px;
		.play {
			@include centerer;
			width: 175px;
			height: 75px;
			border-radius: 10px;
			border: 2px solid black;
			font-size: 2em;
		}
		.firstline {
			padding-top: 1.5em;
		}
		h1 {
			font-size: 4em;
		}
	}
	@media screen and (max-width: 768px) and (min-width: 375px) {
		background: url("../img/FlappyBackground-768px.png");
		height: 400px;
		.play {
			@include centerer;
			width: 100px;
			height: 50px;
			border-radius: 10px;
			border: 1px solid black;
		}
		.firstline {
			padding-top: 3em;
		}
		h1 {
			font-size: 2em;
		}
	}
}

.intro {
	text-align: center;
	font-size: 2em;
	background-color: #A6FB9F;
	margin: 0;
	padding: 1em 0;
	color: #018695;
	@media screen and (min-width: 1024px) {
		font-size: 3em;
	}
}

.features {
	width: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	padding-bottom: 5em;
	display: inline-block;
	
	ul {
		width: inherit;
		padding: 0;
		margin: 0;
		list-style-type: none;
	}
	img {
		padding-top: 1em;
	}
	h2 {
		text-decoration: underline;
	}
	.item1, .item2, .item3 {
		color: #ECFB87;
	}
	@media screen and (min-width: 1024px) {
		font-size: 1.2em;
		li {
			width: 33.3%;
			display: inline-block;
			box-sizing: border-box;
		}
		li > p {
			width: 80%;
			margin: 0 auto;
		}

	}
	@media screen and ($tablet) {
		li {
			width: 33.3%;
			display: inline-block;
			box-sizing: border-box;
		}
		li p {
			width: 80%;
			margin: 0 auto;
		}
	}
}

footer {
	color: white;
	margin: 0;
	padding: 0;
	a {
		text-decoration: none;
		color: white;
	}
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		list-style-type: none;
		text-align: center;
		display: inline-block;
		margin: 0 1em;
	}
}